$initWidth:30px;/*initalize the silver diameter*/
$silverWidth:200px;/*the silver's max diameter*/
$silverDuration:5s;
@keyframes sploosh {
  0% {
    width:$initWidth;
    height:$initWidth;
    left:-$initWidth/2;
    top:-$initWidth/2;
    border:2px solid rgba(0,0,0,0.05)

  }
  50%{
    border:2px solid rgba(0,0,0,0.8)
  }
  100% {
    width:100%;
    height:100%;
    border:2px solid rgba(0,0,0,0);
    left:-50%;
    top:-50%;
  }
}
@-webkit-keyframes sploosh{
  0% {
    width:$initWidth;
    height:$initWidth;
    left:-$initWidth/2;
    top:-$initWidth/2;
    border:2px solid rgba(0,0,0,0.05)
  }
  50%{
    border:2px solid rgba(0,0,0,0.8)
  }
  100% {
    width:$silverWidth;
    height:$silverWidth;
    border:2px solid rgba(0,0,0,0);
    left:$silverWidth/(-2);
    top:$silverWidth/(-2);
  }
}
.silver{
  position: relative;
  height:$silverWidth;
  width:$silverWidth;
  left:120px;
  top:100px;
  .dot{
    border:1px solid #fff;
    transform:translate($silverWidth/2,$silverWidth/2);
    -webkit-transform:translate($silverWidth/2,$silverWidth/2);
    border-radius: 100%;
    position: absolute;
    width:2px;
    height:2px;
    animation: sploosh $silverDuration linear;//这里控制动画时间
    -webkit-animation: sploosh $silverDuration linear;
  }
}